.imageContainer {
    width: 131px;
    height: 120px;

    a {
        div {
            height: 120px;
            width: 131px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px 10px 0px 0px;
        }
    }
}