.middleImage {
    width: 155px;
    height: 250px;
    position: absolute;
    left: 0;
    z-index: -1;

    @media (min-width: 768px) {
        height: 500px;
        width: 310px;
    }

    @media (min-width: 768px) {
        height: 700px;
        width: 435px;
    }
}

.cardContainer {
    display: flex;
    justify-content: center;
}

.custom_slider {
    // background-color: red;
    // position: relative;
    // width: 100vw;
    // margin-left: 127px;
    // margin: 50px;
    // padding-right: 127px;
    width: 80%;  // Adjust as needed to fit your design
    margin: 50px auto 80px auto;
    padding-top: 25px;
}

.sales_heading {
// color: #474574;
color: black;
text-align: center;
font-family: Montserrat;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin-bottom: 30px;

@media (min-width: 768px) {
    font-size: 25px;
}

@media (min-width: 1024px) {
    font-size: 35px;
}

@media (min-width: 1440px) {
    margin-bottom: 40px;
}
}