.productsContainer {
    max-width: 1100px;
    margin: auto;
    // margin-bottom: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    position: relative;
}

.heading {
    color: #474574;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 30px;

    @media (min-width: 768px) {
        font-size: 25px;
    }

    @media (min-width: 1024px) {
        font-size: 35px;
    }

    @media (min-width: 1024px) {
        margin-bottom: 40px;
    }

}

.loadMore {
    display: flex;
    justify-content: center;
    position: relative;

    .button {
        border-radius: 10px;
        background: #CBCAE9;
        width: 200px;
        height: 50px;
        color: #474574;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 75px;
        margin-top: 25px;


        &:hover {
            box-shadow: 4px 4px 0 0 #9796ae;
            transform: scale3d(1.05, 1.05, 1);
            transform: translateX(-4px) translateY(-4px);
        }
    }
}