.heading {
    color: #474574;
text-align: center;
font-family: Montserrat;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin-bottom: 30px;
}

.productsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

