.portableText {
  @apply text-lg leading-relaxed;
}

.portableText p,
.portableText ul,
.portableText ol,
.portableText blockquote {
  @apply my-6;
}

.portableText h2 {
  @apply mb-4 mt-12 text-3xl leading-snug;
}

.portableText h3 {
  @apply mb-4 mt-8 text-2xl leading-snug;
}

.portableText a {
  @apply text-blue-500 underline;
}

.portableText a:hover {
  @apply text-blue-800;
}

.perfumeBody {
  width: 100%;
  // padding-left: 40px;
  // padding-right: 40px;
  margin-bottom: 100px;
  padding: 15px;

  h2,
  .price {
    color: #474574;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  h3 {
    color: #474574;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  p, ul, ol, li {
    color: #474574;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 2;
  }

  .action {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }


    @media (min-width: 1024px) {
      justify-content: space-evenly;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #474574;
      padding: 10px;
      margin-bottom: 25px;
      width: 220px;
      height: 70px;
      border-radius: 10px;
      background: #dbdbe7;
      color: #474574;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      box-shadow:
        2px 2px 0 0 #9796ae3a,
        /* This is your --tw-shadow */
        2px 2px 0 0 #9796ae3f;

      &:hover {
        box-shadow: 6px 6px 0 0 #9796ae;
        transform: scale3d(1.05, 1.05, 1);
        transform: translateX(-4px) translateY(-4px);
      }

      @media (min-width: 768px) {
        margin-bottom: 0;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    .addToCart {

      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }

    .contact {

      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }
}