.imageContainer {
  // width: 691px;
  width: auto;
  // height: 825px;
  // height: auto;
  // margin: auto;
  position: relative;

  img {
    width: 100%;
    object-fit: contain;
    max-height: 500px;
  }



}