.portableText {
  @apply text-lg leading-relaxed;
}

.portableText p,
.portableText ul,
.portableText ol,
.portableText blockquote {
  @apply my-6;
}

.portableText h2 {
  @apply mb-4 mt-12 text-3xl leading-snug;
}

.portableText h3 {
  @apply mb-4 mt-8 text-2xl leading-snug;
}

.portableText a {
  @apply text-blue-500 underline;
}

.portableText a:hover {
  @apply text-blue-800;
}

.perfumeBody {
  width: 100%;
  // padding-left: 40px;
  // padding-right: 40px;
  margin-bottom: 170px;
  padding: 15px;

  h2,
  .price {
    color: #474574;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  p {
    color: #474574;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .action {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;


    @media (min-width: 1024px) {
      justify-content: space-evenly;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #474574;
      padding: 10px;
      width: 151px;
      height: 50px;
      border-radius: 10px;
      background: #dbdbe7;
      color: #474574;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      @media (min-width: 768px) {
        width: 190px;
        font-size: 18px;
      }
    }

    .addToCart {

      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }

    .contact {

      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }
}