.container {
    width: 130px;
    border-radius: 10px;
    background: #D2D5E6;
    margin-bottom: 15px;
    cursor: pointer;
    box-shadow:
        5px 5px 0 0 #9796ae3a,
        /* This is your --tw-shadow */
        5px 5px 0 0 #9796ae3f;

    &:hover {
        // box-shadow:
        //     0 5px 10px rgba(0, 0, 0, 0.12),
        //     /* This is your --tw-shadow */
        //     0 5px 10px rgba(72, 77, 105, 0.37);
        box-shadow: 12px 12px 0 0 #9796ae;
        transform: scale3d(1.05, 1.05, 1);
        transform: translateX(-10px) translateY(-10px);
        transition-property: box-shadow, transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 200ms;

    }

    @media (min-width: 768px) {
        width: 210px;
        min-height: 315px;
    }


    @media (min-width: 1024px) {
        margin-bottom: 25px;
    }

    @media (min-width: 1440px) {
        margin-bottom: 50px;
        // margin-right: 50px;
    }




    .productName {
        color: #474574;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        margin-top: 10px;
        padding-left: 5px;

        @media (min-width: 768px) {
            font-size: 18px;
        }
    }

    .excerpt {
        color: #474574;
        font-family: Montserrat;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 5px;

        @media (min-width: 768px) {
            font-size: 14px;
        }
    }

    .price {
        color: #474574;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        padding: 5px;

        @media (min-width: 768px) {
            font-size: 18px;
        }
    }
}