.product {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .productImage {
        width: 150px;
        height: 150px;
        margin-right: 15px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .productInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;

        .productName {
            font-weight: 700;
            font-size: 18px;
            color: #474574;
        }

        .productPrice {
            font-weight: 700;
            font-size: 18px;
            color: #474574;
            display: flex;

            p {
                margin-left: 5px;
            }
        }

        .productQuantity {
            display: flex;
            align-items: center;
            margin-top: 10px;

            .quantityButton {
                padding: 5px 10px;
                background: #dbdbe7;
                border: 1px solid #474574;
                color: #474574;
                border-radius: 10px;
                height: 30px;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                font-size: 18px;
                cursor: pointer;
            }

            .quantityInput {
                height: 30px;
                max-width: 50px;
                border: 1px solid #c2c2c2;
                padding: 5px;
                margin: 3px;
            }
        }
    }
}