.container {
    height: 300px;
    width: 100%;
    background: linear-gradient(0deg, #B4B2DE 0%, rgba(180, 178, 222, 0.00) 100%);
    position: relative;

    @media (min-width: 768px) {
        height: 550px;
       
    }

    @media (min-width: 1024px) {
        height: 750px;
    
    }

    .imageContainer {
        width: 155px;
        height: 250px;
        position: absolute;
        top: -35px;
        right: 0;

        @media (min-width: 768px) {
            height: 500px;
            width: 310px;
        }
    
        @media (min-width: 1024px) {
            height: 700px;
            width: 435px;
        }
    }
}