.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
    margin: auto;
    margin-bottom: 485px;
    margin-top: 85px;
    padding: 25px;

    .heading {
        color: #474574;
        text-align: center;
        font-family: Bonbon;
        font-size: 52px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 45px;
    }

    .orderID {
        color: #474574;
        text-align: center;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        // text-transform: capitalize;
        margin-bottom: 45px;
    }

    .text {
        color: #474574;
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 45px;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #474574;
        padding: 10px;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background: #CBCAE9;
        color: #474574;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        box-shadow:
        2px 2px 0 0 #9796ae3a,
        /* This is your --tw-shadow */
        2px 2px 0 0 #9796ae3f;
        margin: auto;
        margin-bottom: 200px;

        //hover
        &:hover {
            box-shadow: 6px 6px 0 0 #9796ae;
            transform: scale3d(1.05, 1.05, 1);
            transform: translateX(-4px) translateY(-4px);
        }
    }
}