.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
    margin: auto;
    margin-bottom: 85px;
    margin-top: 85px;
    padding: 25px;

    .heading {
        color: #474574;
        text-align: center;
        font-family: Bonbon;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 45px;
    }

    .orderID {
        color: #474574;
        text-align: center;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        // text-transform: capitalize;
        margin-bottom: 45px;
    }

    .text {
        color: #474574;
        text-align: center;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 45px;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #474574;
        padding: 10px;
        width: 243px;
        height: 45px;
        border-radius: 10px;
        background: #dbdbe79f;
        color: #474574;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        margin: auto;
        margin-bottom: 200px;

        //hover
        &:hover {
            box-shadow: 0 4px 6px #474574;
            transform: scale(1.05);
        }
    }
}