.notification {
    background: #474574b0;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #dbdbe7;
    position: fixed;
    top: 125px;
    left: 0;
    width: 80%;
    height: 70px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Montserrat;
    font-size: 17px;
    z-index: 2;
}